<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{base::head(Serie)}"></head>
<body>
    <header th:replace="~{base::cabecalho('Serie','/serie/form','/serie','/filme','Filme')}"></header>
    
    <main>
        <h1 class="titulo">Series</h1>
        <h2>Lista de series</h2>
        
        <a class="btn btn-success esquerda" href="/serie/form">Cadastrar novo</a>
        <br />
        
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Ano</th>
                    <th>Genero</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="s: ${series}">
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.nome}"></td>
                    <td th:text="${s.ano}"></td>
                    <td th:text="${s.genero_id}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{'/serie/editar/'+${s.id}}">Editar</a> |
                        <a class="btn btn-danger" th:href="@{'/serie/deletar/'+${s.id}}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>